.font-GothamCondensedBold{font-family: 'GothamCondensed-Bold';}
@font-face {
  font-family: 'GothamCondensed-Bold';
  src: url('GothamCondensed-Bold.eot?#iefix') format('embedded-opentype'),  url('GothamCondensed-Bold.otf')  format('opentype'),
	     url('GothamCondensed-Bold.woff') format('woff'), url('GothamCondensed-Bold.ttf')  format('truetype'), url('GothamCondensed-Bold.svg#GothamCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
