
@font-face {
  font-family: 'AtlasGroteskWeb-Medium';
  src: url('AtlasGroteskWeb-Medium.eot?#iefix') format('embedded-opentype'),  url('AtlasGroteskWeb-Medium.woff') format('woff'), url('AtlasGroteskWeb-Medium.ttf')  format('truetype'), url('AtlasGroteskWeb-Medium.svg#AtlasGroteskWeb-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
