
@font-face {
  font-family: 'FreightTextProLight-Regular';
  src: url('FreightTextProLight-Regular.eot?#iefix') format('embedded-opentype'),  url('FreightTextProLight-Regular.otf')  format('opentype'),
	     url('FreightTextProLight-Regular.woff') format('woff'), url('FreightTextProLight-Regular.ttf')  format('truetype'), url('FreightTextProLight-Regular.svg#FreightTextProLight-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
