
@font-face {
  font-family: 'AtlasGroteskWeb-Bold';
  src: url('AtlasGroteskWeb-Bold.eot?#iefix') format('embedded-opentype'),  url('AtlasGroteskWeb-Bold.woff') format('woff'), url('AtlasGroteskWeb-Bold.ttf')  format('truetype'), url('AtlasGroteskWeb-Bold.svg#AtlasGroteskWeb-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
