.thumbnailImg_WHN5 {
    width: 5em;
    height: 5em;
}
.thumbnailImg_WHN3 {
    width: 3em;
    height: 3em;
}

.thumbnailImg {
    overflow: hidden;
    border-radius: 100%;
    margin-right: 1em;
    border: 1px solid #dee2e6;
    background-color: #606C80;
}

.max-width580px {
    max-width: 580px;
}

.contSuggTable td{
    border: none;
    padding: 1.5em 0.75rem;
}

.contSuggTable td:first-child{
    padding-left: 0rem;
}

.contSuggTable td:last-child{
    padding-right: 0rem;
}


.contSuggTable .pagination li a {
    color: #3B3A45;
    padding: 8px 13px 8px !important;
}

.contSuggTable .page-link {
    color: #3B3A45;
    background-color: #fff;
    border: 1px solid #dee2e6;
    line-height: 1;
    font-size: 12px;
}
.contSuggTable .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.contSuggTable .page-item:last-child .page-link {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}


.verticalalign{vertical-align: middle !important;}

.badge-secondary2 {
    color: #939298;
    background-color: #dedee0 !important;
}

.colorBlue{color: #417FC9;}
.colorGreen{color: #44C672;}

.font-size18px{font-size: 18px;}

.arrow:before{
    content: '';
    position: absolute;

    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #f7f8f9;
    left: -1.5em;
    top: 2em;
}


.h-textEditor .classyedit .editor {
    min-height: 230px;
}

.width23px {
    width: 23px;
}
.max-width-630px{max-width: 630px}
.widthMin13rem {
    min-width: 13rem !important;
}

.thumbnailImg_WHNew1 {
    width: 9.3em;
    height: 9.3em;
}

.thumbnailImg_WHNewCard {
    width: 100%;
    height: 9em;
}

.thumbnailImg_WHN9 {
    width: 9em;
    height: 9em;
}

.bg-gray900{background-color: #e7e8ec;}

.bg-lightWhite600 {
    background-color: #f6f6f8;
}

.dashboardDataTable2 .right0 {
    transform: translate3d(0px, 5px, 0px) !important;
}

.translate3d0px1 {
    transform: translate3d(0px, 5px, 0px) !important;
}


.ModratorMenuMain ul{
    top: 1em;
    z-index: 999;
}

.ModratorMenuMain .right0 {
    transform: translate3d(-10px, 5px, 0px) !important;
}
.movePost_a a{
    text-decoration: none;
    color: #606C80;
}
.movePost_a a:hover{
    background-color: #7CA9A1;
    transition: all 0.5s;
    color: white;
}


.width_2point5em{
    width: 2.5em;
}

.right20px{
    right: 20px;
}



/*.row:after, .row:before {*/
/*content: " ";*/
/*display: table;*/
/*clear: both;*/
/*}*/
/*.span6 {*/
/*float: left;*/
/*width: 48%;*/
/*padding: 1%;*/
/*}*/
.emojionearea-editor:not(.inline) {
    min-height: 0em!important;
}

.vh-93 {
    height: 93vh !important;
}

.vh-80{
    height: 80vh;
}


.overflow-yScroll {
    overflow-y: scroll !important;
}

.arrowLeft:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #f7f8f9;
    left: 0em;
    top: 0em;
}

.arrowRight:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid #7ca9a1;
    right: 0em;
    top: 0em;
}

.newList .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #3c3b46;
    border-color: #3c3b46;
}
.newList .list-group-item-action {
    color: #3C3B46;
}

.activePerson:after{
    content: "\F111";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    font-size: 10px;
    color: #7ca9a1;
    top: 40%;
    right: 10px;
}
.selectFileMain{
    right: 60px;
    top: 3px;
}
.selectFile{
    width: 1em;
    height: 1em;
    margin: -1em 0em;
    opacity: 0;
}




.font-size38px{
    font-size: 38px;
}
.font-size32px{
    font-size: 32px;
}

.emojies{
    border: none;
    border-radius: 5em;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.3);
    /*min-width: 23em;*/
    padding: 1em 3em 1em 3em;
    right: -11em;
    left: unset;
    margin-bottom: 1.8rem !important;
    transform: translate3d(-170px, -90px, 0px) !important;
}
.emojies i{
    margin-right: 0.5em;

}

.text-yellow{
    color: #ffc83d;
}
