.font-GothamMedium{font-family: 'Gotham-Medium';}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),  url('Gotham-Medium.otf')  format('opentype'),
	     url('Gotham-Medium.woff') format('woff'), url('Gotham-Medium.ttf')  format('truetype'), url('Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
