
@font-face {
  font-family: 'AtlasGroteskWeb-Black';
  src: url('AtlasGroteskWeb-Black.eot?#iefix') format('embedded-opentype'),  url('AtlasGroteskWeb-Black.woff') format('woff'), url('AtlasGroteskWeb-Black.ttf')  format('truetype'), url('AtlasGroteskWeb-Black.svg#AtlasGroteskWeb-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
