.font-GothamNarrowBook{font-family: 'GothamNarrow-Book';}
@font-face {
  font-family: 'GothamNarrow-Book';
  src: url('GothamNarrow-Book.eot?#iefix') format('embedded-opentype'),  url('GothamNarrow-Book.otf')  format('opentype'),
	     url('GothamNarrow-Book.woff') format('woff'), url('GothamNarrow-Book.ttf')  format('truetype'), url('GothamNarrow-Book.svg#GothamNarrow-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
